.loginForm {
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 2px solid black;
  border-radius: 4px;

  background-color: #5f968e;
}

.loginLabel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginInput {
  background-color: #bfdccf;

  width: 90%;
  height: 30px;
  padding: 5px;
  font-size: 20px;
  border-radius: 4px;
  outline-color: #e05858;
  transition: box-shadow 250ms linear;
}

.loginInput:focus,
.loginInput:hover {
  box-shadow: 0px 0px 10px 0px rgb(47, 47, 47);
}

.btnLogin {
  width: 200px;
  padding: 5px;
  color: #000;
  font-size: 20px;
  border-radius: 4px;
  background-color: #bfdccf;
  cursor: pointer;
  transition: background-color 250ms linear, box-shadow 250ms linear;
}
.btnLogin:hover {
  background-color: #d5c9b1;
}
