.userWrap {
  display: flex;
  gap: 20px;
  justify-content: baseline;
  align-items: baseline;
}

.btnLogout {
  padding: 10px;
  border-radius: 5px;

  text-decoration: none;
  color: #5f968e;
  font-weight: 500;
  font-size: 20px;
  font-family: inherit;
  border: 1px solid black;
  background-color: #bfdccf;

  transition: all linear 250ms;
  cursor: pointer;
}
.btnLogout:hover,
.btnLogout:focus {
  background-color: #e05858;
  color: #d5c9b1;
  border: 1px solid #d5c9b1;
}

.userText {
  color: black;
  font-weight: 500;
  font-size: 20px;
}
